# xx.xx.xx.xx	dc01-env01-eureka01 config-server dc01-env01-eureka02 zipkin-server
export PRODUCT_VERSION=1.0.0
export LOCAL_LOG_PATH=/tmp/logs

export CONFIG_SERVER=config-server
export CONFIG_SERVER_PORT=7001
export CONFIG_FILE_PATH=file:/opt/java/workspace/xxproject/config

export DATACENTER=dc01
export ENVIRONMENT=env01
export EUREKA_SERVER=eureka-server
export EUREKA_SERVER01=eureka01
export EUREKA_SERVER02=eureka02
export SERVER_PORT_EUREKA01=8001
export SERVER_PORT_EUREKA02=8002

export ZUUL_SERVER=zuul-server
export ZUUL_SERVER_PORT=5555

export RABBITMQ_SERVER=localhost
export RABBITMQ_PORT=5672
export RABBITMQ_USER=test
export RABBITMQ_PASSWORD=test

export ZIPKIN_SERVER=zipkin-server
export ZIPKIN_SERVER_PORT=7777
export ZIPKIN_MYSQL_SERVER=localhost
export ZIPKIN_MYSQL_PORT=3306
export ZIPLIN_MYSQL_DB=db_zipkin
export ZIPKIN_MYSQL_USER=demo
export ZIPKIN_MYSQL_PASSWORD=demo

export SERVICE_TEST01=service-test01
export SERVICE_TEST02=service-test02


